package templates
import . "aue.io/tasker/tasks"

templ Index(tasks []Task) {
  <div>hi!</div>
  <table>
    for _, task := range tasks {
      <tr><td>{task.Title()}</td><td>{task.Date()}</td></tr>
    }
  </table>
}
