package templates

templ main(title string) {
  <!DOCTYPE html>
  <html>
    <head>
      <title>{title}</title>
      <meta charset="utf-8"></meta>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
      <script src="/static/htmx.js"></script>
    </head>
    <body>
      { children... }
    </body>
  </html>
}
